@import url("cart.css");
@import url("sidebar.css");

html {
    color-scheme: dark light;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img,
svg,
picture,
video,
canvas,
iframe,
embed,
object {
    max-width: 100%;
    display: block;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    background-color: darkslateblue;
}

main {
    width: min(65ch, 100% -4rem);
    margin-inline: auto;
}

a {
    text-decoration: none;
}
