::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ede6ca;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
